p {
    color: cornflowerblue;
}

div.text {
    border: 3px solid cornflowerblue;
    margin: 10%;
    padding: 10px;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #69899f;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #d7e2e9;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #e5dbdb;
    background-color: #425766;
}