p {
    color: cornflowerblue;
}

div.text {
    border: 3px solid cornflowerblue;
    margin: 10%;
    padding: 10px;
}

.navbar-nav > li > .dropdown-menu {
    background-color: #303030;
    color: white;
}