@import "bootstrap/bootstrap";
@import "bootstrap/variables";
@import url("https://fonts.googleapis.com/css?family=Oxygen:300,400,700|Permanent+Marker|Viga&display=swap");

$font-primary: "Viga", Arial, sans-serif;
$font-secondary: "Oxygen", Arial, sans-serif;
$font-landing: "Permanent Marker", cursive;

$background_color_1: #d8e9f7;

$color1: #4684b4;
$color2: #8bc6f4;
$color3: #d8e8f4;
$color4: #075d9e;
$color5: #033962;

$white: #fff;
$black: #000000;

$primary: #3515c4;
$secondary: #35b9a3;

$heroimage: url(/images/bg1.jpg);

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($transition) {
  -moz-transition: all $transition ease;
  -o-transition: all $transition ease;
  -webkit-transition: all $transition ease;
  -ms-transition: all $transition ease;
  transition: all $transition ease;
}

@mixin herotransition($what: all, $time: 0.2s, $how: ease-in-out) {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

// main page
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
}

p {
  font-family: $font-secondary;
}

.hero {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  position: relative;
  font-family: $font-primary;
  background-size: cover;
  @include herotransition(all, 2s, ease-out);

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-image: $heroimage;
    background-size: cover;
    z-index: -2;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
  }
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.hero-message {
  color: #fff;
  text-shadow: #343a40 2px 2px;
  min-width: 100%;
  min-height: 12em;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    margin-left: 0;

    z-index: -1;
    opacity: 0.4;
    background-color: #343a40;
  }
}

.hero-title,
.hero-sub-title {
  width: 100%;
  display: block;
  text-align: center;
}

.hero-title {
  margin: 3% 0;
  text-transform: uppercase;
}

.hero-sub-title {
  font-family: $font-landing;
  -webkit-animation: fadeEffect 2s;
  animation: fadeEffect 2s;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 1024px) {
  .hero-message {
    min-width: 50%;
    min-height: 12em;
  }
  .hero-message::before {
    margin-left: 25%;
  }
}

@media (min-width: 320px) {
  .hero::before {
    background-image: $heroimage;
  }
}

@media (min-width: 460px) {
  .hero::before {
    background-image: $heroimage;
  }
}

@media (min-width: 720px) {
  .hero::before {
    background-image: $heroimage;
  }
}

@media (min-width: 980px) {
  .hero::before {
    background-image: $heroimage;
  }
}

@media (min-width: 1240px) {
  .hero::before {
    background-image: $heroimage;
  }
}

@media (min-width: 1500px) {
  .hero::before {
    background-image: $heroimage;
  }
}

@media (min-width: 1760px) {
  .hero::before {
    background-image: $heroimage;
  }
}

#main {
  height: 100vh;
  transition: margin-left 0.5s;
  padding: 0;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;

    a {
      font-size: 18px;
    }
  }
}

// down arrow
.arrow {
  text-align: center;
  margin: 2% 0;
  bottom: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);

  a {
    color: $white;
    &:visited {
      text-decoration: none;
    }
    &:hover {
      text-decoration: none;
      color: rgb(55, 247, 231);
    }
  }
}

// bouncing animation for down arrow
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

// navbar
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $background_color_1;
  overflow-x: hidden;
  padding-top: 60px;
  text-align: center;
  @include transition(0.5s);

  a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-weight: 300px;
    color: $primary;
    display: block;
    transition: 0.3s;

    &:hover {
      color: $secondary;
    }
  }

  .nav-links {
    color: $primary;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;

    display: inline-block;
    position: relative;
    &:after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: #fff;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
    &:hover:after {
      width: 100%;
      left: 0;
    }
    &.active {
      /*
      color: $secondary;
      width: 100%;
      opacity: 1 !important;
      left: 0%;
      width: 75%;
      background: #fff;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      */
      background: #fff;
      width: 60%;
      color: $secondary;
    }
  }

  @media screen and (max-height: 300px) {
    ul {
      margin-top: 40px;
    }
  }

  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
}

.navcenter {
  text-align: center;
  display: inline-block;
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}

// profile picture in navbar
#profilepic {
  border-radius: 50%;
  height: 175px;
  width: 175px;
  margin: 25px;
}

// pushing social media buttons in navbar to bottom
#nav-inner {
  text-align: center;
  position: relative;
  height: 100%;
  width: 100%;
}

#nav-footer {
  position: absolute;
  bottom: 7%;
  width: 100%;
}

#connect {
  position: absolute;
  bottom: 5%;
}

#socialmedia {
  text-align: center;
  font-size: 25px;
  ul {
    display: inline-block;
    margin: 10px 0;
    padding: 2px;
  }
  li {
    display: inline-block;
    a {
      text-decoration: none;
      transition: all 0.5s;
      color: &$primary;

      &:hover {
        -webkit-animation: socialmediaglow 1.5s ease-in-out infinite alternate;
        animation: socialmediaglow 1.5s ease-in-out infinite alternate;
        color: #030f1b;
      }
    }
    i {
      display: inline-block;
      padding: 5px;
      text-decoration: none;
    }
  }

  @-webkit-keyframes socialmediaglow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff,
        0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff,
        0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
    }
  }

  @media (max-width: 650px) {
    .connect {
      width: 100%;
    }
  }
}

// style for hr
.horizontal-faded {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

// page sections
#section1 {
  background-image: linear-gradient(to left, $color3, $color2);
}

#section2 {
  background-image: linear-gradient(to right, $color4, $color1, $color4);
}

#section3 {
  background-image: linear-gradient(to right, $color2, $color3);
  padding: 0%;
}

#section4 {
  background-image: linear-gradient(to left, $color1, $color4);
}

// page content
.pagecontent {
  // transform: skew(5deg);
  padding: 5% 15%;
  text-align: center;

  .textbox {
    background-color: black;
    // transform: skew(5deg);
    float: left;
    &:hover {
      // transform: skew(-5deg);
    }
  }
  .imagebox {
    display: inline-block;
    background-color: black;
    // transform: skew(5deg);
  }
}

// back to top arrow
#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0.4);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  &:hover {
    background: rgba(0, 0, 0, 0.7);
  }
  &:hover i {
    color: #fff;
    top: 5px;
  }
}

// parallax effect
.parallaxcontent {
  position: absolute;
  z-index: 1000;
  top: 80vh;

  background: rgb(44, 123, 153);
  height: 100%;
  width: 100%;
}

// particles.js ID
#particles-js {
  height: 100%;
  width: 100%;
}

// footer
.footer {
  text-align: center;
  font-size: 0.75em;
  color: rgb(223, 223, 223);
  padding: 3% 15%;
  background-image: linear-gradient(rgb(13, 19, 99), rgb(12, 6, 36));
  font-family: $font-secondary;
}

// contact
.contact {
  text-align: center;
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact {
  background: #f9f9f9;
  padding: 25px;
  margin: 50px 0;
  border-radius: 15px 50px;

  h3 {
    color: rgb(9, 186, 192);
    display: block;
    font-size: 30px;
    font-weight: 400;
  }

  h4 {
    color: $color4;
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
  }

  input {
    width: 100%;
    margin: 0 0 5px;
    padding: 10px;
  }

  textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #fff;
    margin: 0 0 5px;
    padding: 10px;
    height: 100px;
    max-width: 100%;
    resize: none;

    &:hover {
      -webkit-transition: border-color 0.3s ease-in-out;
      -moz-transition: border-color 0.3s ease-in-out;
      transition: border-color 0.3s ease-in-out;
      border: 1px solid #aaa;
    }
    &:focus {
      outline: 0;
      border: 1px solid #999;
    }
  }

  button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #0cf;
    color: #fff;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }

  .formspacing {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
  }
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

// seperator
*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* General styles and layout */

body {
  background: $color1;
  color: #fff;
  font-family: "Lato", Arial, sans-serif;
  padding: 0px;
  margin: 0px;
}

.container {
  overflow: hidden;
  width: 100%;
  margin: 0px;
  /* we don't want the pseudo-elements sticking out */
}

.container svg {
  display: block;
}

section {
  position: relative;
  padding: 10em;
  background: $color1;
  color: #fff;
  text-align: center;
}

section h2 {
  margin: 0;
  padding: 0;
  font-size: 2.8em;
  font-weight: 400;
}

section p {
  color: lighten($color1, 65%);
  font-size: 1.3em;
  line-height: 1.5;
}

.text:first-child {
  text-align: right;
}

.text:nth-child(2) {
  text-align: left;
}

.col-2 .column {
  width: 49%;
}

.col-3 .column {
  padding: 0 1%;
  width: 33%;
  text-align: center;
}

.col-3 .column p {
  padding: 1.4em;
}

.column {
  display: inline-block;
  vertical-align: top;
}

.color {
  background: darken($color1, 7%);
}

/*** Individual section styles and separators ***/

/* Common style for pseudo-elements */
section::before,
section::after {
  position: absolute;
  content: "";
  pointer-events: none;
}

/* Triangles */
.ss-style-triangles::before,
.ss-style-triangles::after {
  left: 50%;
  width: 100px;
  height: 100px;
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
}

.ss-style-triangles::before {
  top: -50px;
  background: $color1;
}

.ss-style-triangles::after {
  bottom: -50px;
  z-index: 10;
  background: inherit;
}

/* Double Diagonal line */

.ss-style-doublediagonal {
  z-index: 1;
  padding-top: 6em;
  background: darken($color1, 11%);
}

.ss-style-doublediagonal::before,
.ss-style-doublediagonal::after {
  top: 0;
  left: -25%;
  z-index: -1;
  width: 150%;
  height: 75%;
  background: inherit;
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.ss-style-doublediagonal::before {
  height: 50%;
  background: darken($color1, 15%);
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-transform-origin: 3% 0;
  transform-origin: 3% 0;
}

/* Half Circle */
.ss-style-halfcircle::before,
.ss-style-halfcircle::after {
  left: 50%;
  z-index: 10;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: inherit;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.ss-style-halfcircle::before {
  top: -50px;
}

.ss-style-halfcircle::after {
  bottom: -50px;
}

/* Big Triangle */
svg#bigTriangleColor {
  pointer-events: none;
}

#bigTriangleColor path {
  fill: darken($color1, 7%);
  stroke: darken($color1, 7%);
  stroke-width: 2;
}

/* Curves */
#curveUpColor path,
#curveDownColor path {
  fill: darken($color1, 7%);
  stroke: darken($color1, 7%);
}

/* Multiple Triangles */
.ss-style-multitriangles::before,
.ss-style-multitriangles::after {
  left: 50%;
  width: 50px;
  height: 50px;
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
}

.ss-style-multitriangles::before {
  top: -25px;
  background: inherit;
  box-shadow: -50px 50px 0 darken($color1, 7%), 50px -50px 0 darken($color1, 7%);
}

.ss-style-multitriangles::after {
  bottom: -25px;
  z-index: 10;
  background: inherit;
  box-shadow: -50px 50px 0 darken($color1, 7%), 50px -50px 0 darken($color1, 7%);
}

/* Rounded corners */
.ss-style-roundedcorners::before {
  top: 100%;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 60px;
  border-radius: 0 0 60px 60px;
  background: inherit;
}

/* Rounded center split and bottom rounded */
.ss-style-roundedsplit {
  padding-top: 7em;
  border-radius: 0 0 80px 80px;
}

.ss-style-roundedsplit::before,
.ss-style-roundedsplit::after {
  top: -70px;
  left: 0;
  z-index: 10;
  width: 50%;
  height: 70px;
  background: inherit;
}

.ss-style-roundedsplit::before {
  border-radius: 0 80px 0 0;
}

.ss-style-roundedsplit::after {
  left: 50%;
  border-radius: 80px 0 0 0;
}

/* Inverted rounded corners */
.ss-style-invertedrounded {
  margin-bottom: 90px;
  padding: 13em 10% 10em;
  border-radius: 0 0 0 90px;
}

.ss-style-invertedrounded::before,
.ss-style-invertedrounded::after {
  left: 0;
  z-index: -1;
  height: 90px;
  background: darken($color1, 7%);
}

.ss-style-invertedrounded::before {
  top: 100%;
  width: 100%;
  border-radius: 0 90px 0 0;
}

.ss-style-invertedrounded::after {
  bottom: 0;
  z-index: -1;
  width: 50%;
}

/* Zig Zag (3d up and simple down) */
.ss-style-zigzag::before,
.ss-style-zigzag::after {
  right: 0;
  left: 0;
  z-index: 10;
  display: block;
  height: 90px;
  background-size: 50px 100%;
}

.ss-style-zigzag::before {
  top: -90px;
  background-image: -webkit-gradient(
    linear,
    0 0,
    300% 100%,
    color-stop(0.25, transparent),
    color-stop(0.25, darken($color1, 7%))
  );
  background-image: linear-gradient(
      315deg,
      darken($color1, 2%) 25%,
      transparent 25%
    ),
    linear-gradient(45deg, darken($color1, 7%) 25%, transparent 25%);
  background-position: 50%;
}

.ss-style-zigzag::after {
  top: 100%;
  background-image: -webkit-gradient(
    linear,
    0 0,
    300% 100%,
    color-stop(0.25, darken($color1, 7%)),
    color-stop(0.25, $color1)
  );
  background-image: linear-gradient(
      135deg,
      darken($color1, 7%) 25%,
      transparent 25%
    ),
    linear-gradient(225deg, darken($color1, 7%) 25%, transparent 25%);
  background-position: 50%;
}

/* Edges */
.ss-style-roundedges {
  padding-bottom: 16em;
}

.ss-style-roundedges::before,
.ss-style-roundedges::after {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: $color1;
  top: -100px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.ss-style-roundedges::before {
  left: -100px;
}

.ss-style-roundedges::after {
  right: -100px;
}

/* Slit */
.ss-style-slit {
  padding-top: 5em;
}

.ss-style-slit::before,
.ss-style-slit::after {
  width: 50.5%;
  width: -webkit-calc(50% + 10px);
  width: -moz-calc(50% + 10px);
  width: calc(50% + 10px);
  height: 160px;
  background: $color1;
  top: -160px;
}

.ss-style-slit::before {
  left: -20px;
  -webkit-transform: skewX(10deg);
  transform: skewX(10deg);
  box-shadow: -10px -20px darken($color1, 8%);
}

.ss-style-slit::after {
  right: -20px;
  -webkit-transform: skewX(-10deg);
  transform: skewX(-10deg);
  box-shadow: 10px -20px darken($color1, 8%);
}

/* Big half circle */
#bigHalfCircle path {
  fill: darken($color1, 7%);
  stroke: darken($color1, 7%);
}

/* Big triangle with shadow */

#trianglePath1 {
  fill: darken($color1, 7%);
  stroke: darken($color1, 7%);
}

#trianglePath2 {
  fill: darken($color1, 13%);
  stroke: darken($color1, 13%);
}

/* Inclined Zig Zag */
.ss-style-inczigzag::before,
.ss-style-inczigzag::after {
  left: 0;
  width: 100%;
  height: 50px;
  background-size: 100px 100%;
}

.ss-style-inczigzag::before {
  top: 0;
  background-image: -webkit-gradient(
    linear,
    0 0,
    10% 100%,
    color-stop(0.5, darken($color1, 11%)),
    color-stop(0.5, darken($color1, 7%))
  );
  background-image: linear-gradient(
    15deg,
    darken($color1, 7%) 50%,
    $color1 50%
  );
}

.ss-style-inczigzag::after {
  bottom: 0;
  background-image: -webkit-gradient(
    linear,
    0 0,
    10% 100%,
    color-stop(0.5, darken($color1, 7%)),
    color-stop(0.5, $color1)
  );
  background-image: linear-gradient(
    15deg,
    $color1 50%,
    darken($color1, 7%) 50%
  );
}

/* Media Queries for the layout */
@media screen and (max-width: 68em) {
  section {
    font-size: 80%;
  }
}

@media screen and (max-width: 54em) {
  .column {
    display: block;
    width: 100% !important;
  }

  .text:first-child,
  .text:nth-child(2) {
    text-align: center;
  }

  .icon {
    margin: 0 auto;
  }

  .col-2 .column:first-child .icon {
    margin: 0 auto 50px;
  }

  .col-2 .column:nth-child(2) .icon {
    margin: 50px auto 0;
  }
}

// quote of the day
.quoteoftheday {
  margin-top: 10%;
  margin-bottom: 10%;
  height: 25vh;
  width: 100%;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;

  &::before {
    position: absolute;
    content: "";
    border-radius: 2em;
    height: 5px;
    background: linear-gradient(
      to right,
      rgba(22, 221, 221, 0.05),
      rgb(126, 106, 241)
    );
    width: 0;
    top: 0;
    left: 0;
    animation: quoteoftheday 8s infinite;
  }

  &::after {
    position: absolute;
    content: "";
    height: 5px;
    border-radius: 2em;
    background: linear-gradient(
      to left,
      rgba(22, 221, 221, 0.05),
      rgb(126, 106, 241)
    );
    width: 0;
    bottom: 0;
    right: 0;
    animation: quoteoftheday-after 8s infinite;
  }

  blockquote {
    margin: 0;
    padding: 0;
  }

  .share {
    text-align: center;
    background-color: $color4;
  }
}

// quote share
.social a {
  padding: 0 0.5em;
}

@keyframes quoteoftheday {
  0% {
    width: 0;
  }
  20% {
    width: calc(100% / 3);
  }
  70% {
    opacity: 1;
  }
  100% {
    width: calc(100% / 3);
    opacity: 0;
  }
}

@keyframes quoteoftheday-after {
  0% {
    width: 0;
  }
  20% {
    width: calc(100% * 2 / 3);
  }
  70% {
    opacity: 1;
  }
  100% {
    width: calc(100% * 2 / 3);
    opacity: 0;
  }
}

// share button
.center {
  justify-content: center;
  display: flex;
}

ul.share {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  width: 404px;
  height: 60px;
}

ul.share::before {
  content: "\f1e0";
  font-family: "Font Awesome\ 5 Free";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #8400ff, #c32be2);
  border-radius: 30px;
  text-align: center;
  line-height: 60px;
  color: #fff;
  font-size: 30px;
  padding-left: 2px;
  transition: 0.5s;
  z-index: 1;
}

ul.share:hover::before {
  width: 60px;
}

ul.share li {
  position: absolute;
  transition: 1s;
}

ul.share li a {
  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #262626;
  color: #fff;
  border-radius: 50%;
  border-style: solid;
  border-width: thin;
  border-color: $white;
  font-size: 30px;
  transition: 0.5s;
}

ul.share li:nth-child(1) a {
  background-color: #3b5999;
}

ul.share li:nth-child(2) a {
  background-color: #55acee;
}
ul.share li:nth-child(3) a {
  background-color: #dd4b39;
}
ul.share li:nth-child(4) a {
  background-color: #0077b5;
}
ul.share li:nth-child(5) a {
  background-color: #e4405f;
}

ul.share:hover li:nth-child(1) a {
  transform: translatex(68px) rotate(360deg);
  transition-delay: 0.8s;
}

ul.share:hover li:nth-child(2) a {
  transform: translatex(136px) rotate(360deg);
  transition-delay: 0.6s;
}

ul.share:hover li:nth-child(3) a {
  transform: translatex(204px) rotate(360deg);
  transition-delay: 0.4s;
}

ul.share:hover li:nth-child(4) a {
  transform: translatex(272px) rotate(360deg);
  transition-delay: 0.2s;
}

ul.share:hover li:nth-child(5) a {
  transform: translatex(340px) rotate(360deg);
  transition-delay: 0s;
}

// slanted page
.slant {
  padding: 15% 10%;
  background-image: linear-gradient(to right, rgb(2, 5, 163), rgb(12, 73, 185));
  transform: skewX(5deg);
  box-shadow: 5px 10px rgb(91, 149, 182);

  h1,
  h3 {
    font-size: 2em;
  }
}
